{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
            <form action="/add_pelicula" method="POST">
                <div class="form-group">
                    <input type="text" name="NombrePelicula" placeholder="Nombre Pelicula" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="Genero" placeholder="Genero" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="Director" placeholder="Director" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="AnoEstreno" placeholder="Año Estreno" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <td>Nombre Pelicula</td>
                    <td>Genero</td>
                    <td>Director</td>
                    <td>Año Estreno</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                {% for pelicula in peliculas %}
                <tr>
                    <td>{{ pelicula.0 }}</td>
                    <td>{{ pelicula.1 }}</td>
                    <td>{{ pelicula.2 }}</td>
                    <td>{{ pelicula.3 }}</td>
                    <td>
                        <a href="/delete/{{ pelicula.0 }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
{% endwith %}

{% endblock %}