<!DOCTYPE html>
<html lang="es">
<head>
  <title>Login - App-Web MySQ</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type=text/css href="../static/css/w3.css" />
  <link rel="stylesheet" ref="https://fonts.googleapis.com/css?family=Poppins" />
  <style>
  body,h3,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
  body {font-size:16px;}
  .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
  .w3-half img:hover{opacity:1}
  </style>
</head>

<body>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h2>Introduce tu usuario y contraseña</h2>
  </div>
  

  <!-- Contenido -->
  <div>
    <section><form action="/inicio" method="post" >
      <label>Usuario:</label>
      <input type="text" name="usuario">
      <br>
            <br>
      <label>Contraseña:</label>
      <input type="password" name="contraseña">
      <br>
            <br>
      <input type="submit" value="Iniciar sesión">
    </form>
  </section>
  </div>
  